---
import { NAV } from '../lib/site';
---

<div class="topbar" role="banner">
  <a href="/" class="brand">nilsmatteson.com</a>
  <nav aria-label="Primary">
    {NAV.map((item) => (
      <a class="navlink" href={item.href}>{item.label.toLowerCase()}</a>
    ))}
    <a class="navlink" href="/resume.pdf">resume</a>
  </nav>
</div>
