---
---

<footer class="site-footer">
  <div>nils matteson &middot; madison, wi &rarr; san jose, ca &middot; <a href="mailto:nils@thaw.sh">nils@thaw.sh</a></div>
  <div>no js, no tracking, html written by hand more or less</div>
</footer>
